<main class="container__main">
  <h1 class="container__main--title">Buscador de series</h1>
  <form class="container__main--form">
    <input
      type="text"
      name="search"
      id="search"
      placeholder="Ej: Breaking Bad"
      class="input"
    />
    <input type="button" value="Search" class="container__main--btn" />
  </form>
  <section class="section__favs">
    <h2 class="section__favs--title">Series favoritas:</h2>
    <ul></ul>
  </section>
  <section class="section__series">
    <ul></ul>
  </section>
</main>
