<main class="main__container">
  <form>
    <input type="text" />
    <input type="button" value="Buscar" />
  </form>
  <section class="main__container--section">
    <ul class="main__container--section--favs">
      <li>
        <img
          src="https://unsplash.com/photos/3kLiRhPh3oY"
          width="100"
          height="100"
          alt=""
        />
        LOST
      </li>
      <li>
        <img
          src="https://unsplash.com/photos/3kLiRhPh3oY"
          width="100"
          height="100"
          alt=""
        />
        GIRLS
      </li>
    </ul>
    <ul class="main__container--section--list">
      <li>
        <img
          src="https://unsplash.com/photos/3kLiRhPh3oY"
          width="100"
          height="100"
          alt=""
        />
        GOT
      </li>
      <li>
        <img
          src="https://unsplash.com/photos/3kLiRhPh3oY"
          width="100"
          height="100"
          alt=""
        />
        MAMMA MIA
      </li>
    </ul>
  </section>
</main>
