<main class="container__main">
  <h1 class="container__main--title">Buscador de series</h1>
  <form class="container__main--form">
    <input
      type="text"
      name="search"
      id="search"
      placeholder="Ej: Breaking Bad"
      class="input js-input"
    />
    <input type="button" value="Search" class="container__main--btn js-btn" />
  </form>
  <section class="section__favs">
    <h2 class="section__favs--title">Series favoritas:</h2>
    <ul>
      <!--Aqui empieza el codigo que generaremos desde JS
      <li>
        <img
          src="https://unsplash.com/photos/qapoK-nSX_E"
          width="100px"
          alt="photo"
        />
        Game of thrones
      </li>
      <li>Lost</li>
      Aqui termina el codigo que generaremos desde JS-->
    </ul>
  </section>
  <section class="section__series js-series-list">
    <ul>
      <!--Aqui empieza el codigo que generaremos desde JS
      <li>
        <img
          src="https://unsplash.com/photos/qapoK-nSX_E"
          width="100px"
          alt="photo"
        />
        Game of thrones
      </li>
      <li>Lost</li>
      Aqui termina el codigo que generaremos desde JS-->
    </ul>
  </section>
</main>
