.body {
    height: 100vh;
    background: linear-gradient(to right, rgb(236, 169, 254), rgb(158, 200, 255));;
}

.main--container {
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.section__container {
    padding-top: 10%;
    display: flex;
    flex-direction: row;
}