.fav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title-fav {
    color: black;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    //text-shadow: 2px 2px;
}

.li--fav {
    text-align: center;
    font-weight: bold;
    color: blueviolet;
    margin-bottom: 10px;
    //background-color: rgba(196, 212, 255, 0.5);
    border: 3px solid rgba(70, 155, 252, 0.5);
}

.img-fav {
    margin-bottom: 10px;
    padding: 10px;
}