.footer__container {
     width: 100%;
    &--small{
        font-size: 12px;
        text-align: end;
        margin: 10px auto 10px auto;
       position: relative;
       @media all and (min-width: 768px) {
           font-size: 14px;
       }
    }
}