.header__container{
    height: 10vh;
    background: linear-gradient(to right, rgb(236, 169, 254), rgb(158, 200, 255));
    &--title{ 
    color: $ink;
    padding-top: 10px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    }
}